@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Salesforce Sans';
  src: url('../public/fonts/SalesforceSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Avant Garde Std Demi';
  src: url('../public/fonts/ITCAvantGardeStd-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
